<%= stylesheet_link_tag 'services/service' %>

<body>
    <div id="services">
        <div class="container">
            <h1 class="sub-title">My Services</h1>
            <div class="services-list">
                <div>
                <i class="fa-solid fa-code"></i>
                    <h2>Web Design</h2>
                    <p>I am a passionate backend developer with expertise in Ruby on Rails. 
                    With several years of experience in building robust and scalable web applications, 
                    I specialize in designing and implementing efficient server-side solutions.</p>
                    <a href="#">Learn more</a>
                </div>

                <div>
                <i class="fa-solid fa-laptop-code"></i>
                    <h2>Api Design</h2>
                    <p>I am a passionate backend developer with expertise in Ruby on Rails. 
                    With several years of experience in building robust and scalable web applications, 
                    I specialize in designing and implementing efficient server-side solutions.</p>
                    <a href="#">Learn more</a>
                </div>

                <div>
                <i class="fa-brands fa-app-store"></i>
                    <h2>Web Development</h2>
                    <p>I am a passionate backend developer with expertise in Ruby on Rails. 
                    With several years of experience in building robust and scalable web applications, 
                    I specialize in designing and implementing efficient server-side solutions.</p>
                    <a href="#">Learn more</a>
                </div>

            </div>
        </div>
    </div>
</body>