<%= stylesheet_link_tag 'services/service' %>

<body>
    <div id="services">
        <div class="container">
            <h1 class="sub-title" style="color: #00c0f9;">My Services</h1>
            <div class="services-list">

                <div>
                <i class="fa-solid fa-user-lock"></i>
                    <h2>Security and Data Protection</h2>
                    <p>I am committed to ensuring the security and protection of your data. 
                    By implementing advanced security measures and following industry best practices, 
                    From authentication to data encryption, providing you and your users with peace of mind.</p>
                    <a href="/portfolio">Learn more</a>
                </div>

                <div>
                
                <i class="fa-solid fa-laptop-code"></i>
                    <h2>Api Development</h2>
                    <p>Developing RESTful APIs. With scalability, 
                    flexibility, I create APIs that promote client-server communication. 
                    My expertise enables businesses to streamline data exchange and unlock the potential of their software systems.</p>
                    <a href="/portfolio">Learn more</a>
                </div>

                <div>
                <i class="fa-solid fa-globe"></i>
                    <h2>Web Development</h2>
                    <p>With expertise in web development, I offer comprehensive solutions to build dynamic and engaging websites. 
                    I leverage modern web technologies and frameworks 
                    to create user-friendly interfaces and seamless user experiences.

                    </p>
                    <a href="/portfolio">Learn more</a>
                </div>


                <div>
                <i class="fa-solid fa-database"></i>
                    <h2>Database Management</h2>
                    <p> I offer structured and efficient database architectures. 
                    By analyzing your requirements and understanding your data relationships, 
                    I design database schemas that ensure data integrity and optimal performance.</p>
                    <a href="/portfolio">Learn more</a>
                </div>

            </div>
        </div>
    </div>

    <style>
    @keyframes fall {
      0% {
        transform: translateY(-100%);
        opacity: 0;
      }
      100% {
        transform: translateY(0);
        opacity: 1;
      }
    }
  
    .fall-animation {
      animation: fall 0.5s ease-out forwards;
      opacity: 0;
    }
  </style>


    <script>
        var sidemenu = document.getElementById("sidemenu");

        function openmenu(){
            sidemenu.style.right = "0";
        }

        function closemenu(){
            sidemenu.style.right = "-200px";
        }
    </script>
</body>