<%= stylesheet_link_tag 'portfolios/portfolio' %>
<body>
    <div id="portfolio">
        <div class="container">
            <h1 class="sub-title">My Work</h1>
            <div class="work-list">
                <div class="work">
                    <img src="<%= asset_path('work-1.png') %>">
                    <div class="layer">
                        <h3> My Basecamp App</h3>
                        <p>The app connects you to the talented people around the world.
                        Download it for free in the app store </p>
                        <a href="#"><i class="fa-solid fa-up-right-from-square"></i></a>
                    </div>
                </div>
                <div class="work">
                    <img src="<%= asset_path('work-2.png') %>">
                    <div class="layer">
                        <h3> My Earthquake Api</h3>
                        <p>The app connects you to the talented people around the world.
                        Download it for free in the app store </p>
                        <a href="#"><i class="fa-solid fa-up-right-from-square"></i></a>
                    </div>
                </div>
                <div class="work">
                    <img src="<%= asset_path('work-3.png') %>">
                    <div class="layer">
                        <h3> My Yelp App</h3>
                        <p>The app connects you to the talented people around the world.
                        Download it for free in the app store </p>
                        <a href="#"><i class="fa-solid fa-up-right-from-square"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>