<%= stylesheet_link_tag 'portfolios/portfolio' %>
<body>
    <div id="portfolio">
        <div class="container">
            <h1 class="sub-title" style="color: #00c0f9">My Work</h1>
            <div class="work-list">
                <div class="work">
                <div class="photo">
                    <a href="https://github.com/sammyremi/Seating-Chart-V1" target="_blank">
                        <img src="<%= asset_path('deskscape.png') %>" class="jump-on-hover">
                    </a>
                </div>
                    <div class="layer">
                        <h3 style="text-align: center; padding-top: 15px; padding-bottom: 10px; color: #00c0f9;">DeskScape App</h3>
                       <p>DeskScape is a powerful web app for managing seating charts. It features an intuitive dashboard for data analysis, seating arrangements, zoning, workstation statuses, and admin controls. Additionally, it provides the flexibility to import data from CSV files, streamlining your workflow.</p>

                    
                       <div style="text-align: center;">
                       <a href="https://github.com/sammyremi/Seating-Chart-V1" target="_blank"><i class="fa-regular fa-share-from-square" style="font-size: 27px; color: #00c0f9; padding-top: 10px; padding-bottom: 10px;"></i></a> </br>
                           <p>Visit</p>                    
                       </div>
                    
                       </div>

                </div>
                <div class="work">
                <div class="photo">
                    <a href="https://my-earthquake-api-v1.fly.dev" target="_blank">
                    <img src="<%= asset_path('api.png') %>" class="jump-on-hover">
                </a>
                </div>
                    <div class="layer">
                        <h3 style="text-align: center; padding-top: 15px; padding-bottom: 10px; color: #00c0f9" > My Earthquake Api</h3>

                        <p >My Earthquake API is designed to handle earthquake data through a powerful API interface. 
                        With this API, you can  perform essential operations such as creating, editing, deleting, 
                        and retrieving earthquake records. This API incorporates authentication using Google Omniauth, 
                        ensuring secure access to the application.</p>
                        <div style="text-align: center;">
                            <a href="https://my-earthquake-api-v1.fly.dev" target="_blank"><i class="fa-regular fa-share-from-square" style="font-size: 27px; color: #00c0f9; padding-top: 10px; padding-bottom: 10px;"></i></a> </br>
                            <p>Visit</p>                    
                        </div>
                    </div>
                </div>
                <div class="work">
                <div class="photo">
                    <a href="https://mydropboxproject.fly.dev" target="_blank">
                        <img src="<%= asset_path('dropboxs.png') %>" class="jump-on-hover">
                    </a>
                </div>
                    <div class="layer">
                        <h3 style="text-align: center; padding-top: 15px; padding-bottom: 7px; color: #00c0f9"> My Dropbox App</h3>
                        <p>My Dropbox is a user-friendly interface for file uploading. 
                        documents, images, videos, or any other file format, 
                        users can easily upload their files to the app's secure cloud storage. 
                        The intuitive design ensures a smooth and efficient file upload process, 
                        allowing users to organize and manage their files with ease.
                        </p>
                        <div style="text-align: center;">
                        <a href="https://mydropboxproject.fly.dev" target="_blank"><i class="fa-regular fa-share-from-square" style="font-size: 27px; color: #00c0f9; padding-top: 10px; padding-bottom: 10px;"></i></a> </br>
                            <p>Visit</p>                    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <style>
    @keyframes fall {
      0% {
        transform: translateY(-100%);
        opacity: 0;
      }
      100% {
        transform: translateY(0);
        opacity: 1;
      }
    }
  
    .fall-animation {
      animation: fall 0.5s ease-out forwards;
      opacity: 0;
    }
  </style>


    <script>
        var sidemenu = document.getElementById("sidemenu");

        function openmenu(){
            sidemenu.style.right = "0";
        }

        function closemenu(){
            sidemenu.style.right = "-200px";
        }
    </script>
</body>