<%= stylesheet_link_tag 'portfolios/portfolio' %>
<body>
    <div id="portfolio">
        <div class="container">
            <h1 class="sub-title" style="color: #00c0f9">My Work</h1>
            <div class="work-list">
                <div class="work">
                <div class="photo">
                    <a href="https://mybasecampv2.fly.dev">
                        <img src="<%= asset_path('base.png') %>" class="jump-on-hover">
                    </a>
                </div>
                    <div class="layer">
                        <h3 style="text-align: center; padding-top: 15px; padding-bottom: 10px; color: #00c0f9;"> My Basecamp App</h3>
                        <p>My Basecamp App is a comprehensive web application that empowers users to manage their projects and collaborate. 
                        With this application, users can  create, update, delete, and showcase their projects, 
                        along with the ability to engage in discussions and leave comments within those discussions.</p>

                        <div style="text-align: center;">
                        <a href="https://mybasecampv2.fly.dev"><i class="fa-regular fa-share-from-square" style="font-size: 27px; color: #00c0f9; padding-top: 10px; padding-bottom: 10px;"></i></a> </br>
                            <p>Visit</p>                    
                        </div>
                    </div>
                </div>
                <div class="work">
                <div class="photo">
                    <a href="https://my-earthquake-api.fly.dev">
                    <img src="<%= asset_path('api.png') %>" class="jump-on-hover">
                </a>
                </div>
                    <div class="layer">
                        <h3 style="text-align: center; padding-top: 15px; padding-bottom: 10px; color: #00c0f9" > My Earthquake Api</h3>

                        <p >My Earthquake API is designed to handle earthquake data through a powerful API interface. 
                        With this API, you can  perform essential operations such as creating, editing, deleting, 
                        and retrieving earthquake records. This API incorporates authentication using Google Omniauth, 
                        ensuring secure access to the application.</p>
                        <div style="text-align: center;">
                            <a href="https://my-earthquake-api.fly.dev"><i class="fa-regular fa-share-from-square" style="font-size: 27px; color: #00c0f9; padding-top: 10px; padding-bottom: 10px;"></i></a> </br>
                            <p>Visit</p>                    
                        </div>
                    </div>
                </div>
                <div class="work">
                <div class="photo">
                    <a href="https://mydropboxproject.fly.dev">
                        <img src="<%= asset_path('dropboxs.png') %>" class="jump-on-hover">
                    </a>
                </div>
                    <div class="layer">
                        <h3 style="text-align: center; padding-top: 15px; padding-bottom: 7px; color: #00c0f9"> My Dropbox App</h3>
                        <p>My Dropbox is a user-friendly interface for file uploading. 
                        documents, images, videos, or any other file format, 
                        users can easily upload their files to the app's secure cloud storage. 
                        The intuitive design ensures a smooth and efficient file upload process, 
                        allowing users to organize and manage their files with ease.
                        </p>
                        <div style="text-align: center;">
                        <a href="https://mydropboxproject.fly.dev"><i class="fa-regular fa-share-from-square" style="font-size: 27px; color: #00c0f9; padding-top: 10px; padding-bottom: 10px;"></i></a> </br>
                            <p>Visit</p>                    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>