<div class="flex" style="margin-top: 100px;">
  <div style="padding-left: 200px; padding-right: 80px">
    <%= render "home/image" %>
  </div>

  <div style="padding-left: 600px; ">
    <%= render "home/calendar_data" %>
  </div>

</div>
