<div>
  <nav style="padding-top: 20px;">
  <div class="log">
    <a href="/"><img src="<%= asset_path('logosam1.png') %>" class="logo" style="padding-top: 20px;"></a>
  </div>
    <ul id="sidemenu">
      <li><a href="/" style="font-family: 'Cabin', sans-serif;">Home</a></li>
      <li><a href="/about" style="font-family: 'Cabin', sans-serif;">About</a></li>
      <li><a href="/service" style="font-family: 'Cabin', sans-serif;">Service</a></li>
      <li><a href="/portfolio" style="font-family: 'Cabin', sans-serif;">Portfolio</a></li>
      <li><a href="/contact" style="font-family: 'cabin', sans-serif;">Contact</a></li>
      <i class="fa-solid fa-xmark" onclick="closemenu()"></i>
    </ul>
    <i class="fa-solid fa-bars" onclick="openmenu()"></i>
  </nav>
</div>

