<%= stylesheet_link_tag 'homes/index' %>
<body>
    <div id="header">
        <div class="container">
            <nav>
            <img src="<%= asset_path('logo.png') %>" class="logo">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Service</a></li>
                <li><a href="#">Portfolio</a></li>
                <li><a href="#">Contact</a></li>


            </ul>

            </nav>
            <div class="header-text">
                <p>Backend Developer</p>
                <h1>Hi, I'm <span>SammyRemi</span><br>From Nigeria</h1>
            </div>
    </div>

</body>