<%= stylesheet_link_tag 'homes/index' %>
<body>
    <div id="header">
        <div class="container">

            <div class="header-text">
                <p>Backend Developer</p>
                <h1>Hi, I'm <span>SammyRemi</span><br>From Nigeria</br>As a passionate Rails Developer, I thrive on creating robust and innovative web applications
                </h1>
            </div>
    </div>


    <script>
        var sidemenu = document.getElementById("sidemenu");

        function openmenu(){
            sidemenu.style.right = "0";
        }

        function closemenu(){
            sidemenu.style.right = "-200px";
        }
    </script>


</body>