<%= stylesheet_link_tag 'homes/index' %>
<body>
    <div id="header">
        <div class="container">
            <div class="header-text">
                <h1>Hi, I'm <span>Samuel</span></br>
                </h1>
                <div class="moving" style="padding-top: 24px; font-size: 18px; color: #00c0f9;">
                    <p>
                        <span class="fall-animation" style="animation-delay: 0.5s; font-family: Monaco, monospace;">A software engineer with experience in</span><br>
                        <span class="fall-animation" style="animation-delay: 1.5s; font-family: Monaco, monospace;">Ruby on Rails, building web applications</span><br>
                        <span class="fall-animation" style="animation-delay: 2.5s; font-family: Monaco, monospace;">with efficient server-side functionality.</span><br>
                        <span class="fall-animation" style="animation-delay: 3.5s; font-family: Monaco, monospace;">Let's connect and discuss your project!</span>
                    </p>
                </div>
              </div>

              <div>
                <img src="<%= asset_path('typing.gif') %>" alt="GIF Image">
              </div>
              
            </div>
        </div>
    </div>

    <style>
    @keyframes fall {
      0% {
        transform: translateY(-100%);
        opacity: 0;
      }
      100% {
        transform: translateY(0);
        opacity: 1;
      }
    }
  
    .fall-animation {
      animation: fall 0.5s ease-out forwards;
      opacity: 0;
    }
  </style>


    <script>
        var sidemenu = document.getElementById("sidemenu");

        function openmenu(){
            sidemenu.style.right = "0";
        }

        function closemenu(){
            sidemenu.style.right = "-200px";
        }
    </script>
    
</body>